<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Armour Set</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.min.css" rel="stylesheet">
    <!--ce lien est pour les TOASTs qui sont des petites popup success ou error en haut a droite...-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.js"></script>
    <link rel="stylesheet" href="../css/cssPrincipale.css"></link>
    <script type="text/javascript" src="../javascripts/helpers/httpService.js"></script>
    <script type="text/javascript" src="../javascripts/helpers/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../javascripts/controllers/indexCtrl.js"></script>
    <script type="text/javascript" src="../javascripts/services/servicesHttp.js"></script>
</head>

<body>
    <header class="header">
        <h1>Zelda Tears of the Kingdom Armor Viewer!</h1>
    </header>

    <main class="main-content">
        <div class="user-info">
            <button id="disconnectButton">Disconnect</button> 
            <div class="user-type" id="userType">Visitor</div>
            <div class="user-role" id="userRole">Client</div>
        </div>

        <!-- New container for title and buttons with border -->
        <div class="title-buttons-container">
            <h1>Armours</h1>
            <hr>
        </div>

        <div class="form-group">
            <label for="armorNameSelect">Select Armor:</label>
            <div class="source-group">
                <select id="armorNameSelect">$
                    <!-- Armor names will be populated here -->
                </select>
            </div>
        </div>

        <!-- Container for form with a border -->
        <div class="form-container">
            <form id="addArmorForm">
                <div class="form-group">
                    <label for="armorName">Armor Name:</label>
                    <input type="text" id="armorName" required>
                </div>
                <div class="form-group">
                    <label for="armorCapName">Cap Name:</label>
                    <textarea id="armorCapName" required></textarea>
                </div>
                <div class="form-group">
                    <label for="armorCapSource">Cap Source:</label>
                    <div class="source-group">
                        <select id="armorCapSourceType">

                        </select>
                        <textarea id="armorCapSource" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="armorTunicName">Tunic Name:</label>
                    <textarea id="armorTunicName" required></textarea>
                </div>
                <div class="form-group">
                    <label for="armorTunicSource">Tunic Source:</label>
                    <div class="source-group">
                        <select id="armorTunicSourceType">
                        </select>
                        <textarea id="armorTunicSource" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="armorTrousersName">Trousers Name:</label>
                    <textarea id="armorTrousersName" required></textarea>
                </div>
                <div class="form-group">
                    <label for="armorTrousersSource">Trousers Source:</label>
                    <div class="source-group">
                        <select id="armorTrousersSourceType">
                        </select>
                        <textarea id="armorTrousersSource" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="armorEffect">Effect:</label>
                    <textarea id="armorEffect" required></textarea>
                </div>
                <div class="form-group">
                    <label for="armorDescription">Description:</label>
                    <textarea id="armorDescription" required></textarea>
                </div>
                <div class="form-group">
                    <label for="armorImage">Upload Image:</label>
                    <input type="file" id="armorImage" accept="image/*">
                </div>
            </form>
        </div>
    </main>
</body>

</html>